&-charades
  display: flex
  flex-wrap: wrap
  
  &__content
    display: flex
    align-items: center
    overflow-x: auto
    padding: .2em

  &__colors
    display: flex
    padding: 0 1em
    flex-direction: column

  &__canvas
    height: 20em
    width: 40em
    border: .08em solid darkgray
    border-radius: .5em

  &__details
    flex-grow: 1
    padding: .1em .8em

  &__wrapper
    display: flex
    flex-direction: column
    height: 20em

  &__info
    font:
      weight: bold
      size: 1.7em
    width: 100%
    margin-bottom: .5em
    letter-spacing: .08em
    background-color: #ffebeb
    padding: .8em 0
    box-shadow: .25em .25em .25em #c1c1c1

    &--painter
      padding: .5em .8em
      box-sizing: border-box

    &--player
      color: white
      background:
        position: center
        size: cover
      text:
        transform: uppercase
        align: center
        shadow: .15em .15em .15em black
