&-choose
  &__question
    font-size: 3.3em
    text-align: center
    margin-bottom: .5em
    text-decoration: underline
    text-decoration-color: #f7c2c2
    line-height: 1.4em

    &_load
      font-size: 2.5em
      @include animation(question, 1.5s, 0s, $count:infinite)
      color: #ffb2b2

  &__answers
    display: flex
    flex-wrap: wrap

  &__waiting
    display: flex
    justify-content: center
    margin-bottom: 2.5em

  &__dot
    font-size: 1.55em
    color: #ffb2b2
    @include animation(dot-load, 1.2s, 0s, $count:infinite)

    &:nth-child(2)
      animation-delay: .2s

    &:nth-child(3)
      animation-delay: .4s

  &__answer
    width: 50%
    background-color: gray
    font-size: 1.6em
    text-align: center
    padding: .7em 0
    clip-path: polygon(0% 50%, 10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%)
    position: relative
    margin-bottom: 0.8em
    transition: background-color .3s
    cursor: pointer

    @media(max-width: 700px)
      width: 100%

    &--active
      background-color: #31bd28

    &:before
      content: ""
      background-color: #ffffff
      z-index: -1
      position: absolute
      top: .1em
      left: .17em
      width: calc(100% - .34em)
      height: calc(100% - .2em)
      clip-path: polygon(0% 50%, 9.5% 0%, 90.5% 0%, 100% 50%, 90.5% 100%, 9.5% 100%)
