&-enter
  &__question
    display: flex
    align-items: center
    background: #f3f0f0
    padding: 1.2em
    border-radius: .8em

  &__text
    font-size: 2em
    margin: 0
    letter-spacing: .07em

  &__input
    height: 12em
    resize: none
    width: 100%
    margin-top: 1.5em
    padding: .4em
    box-sizing: border-box
    font:
      size: 1.2em
      family: Roboto
    outline: none
    border:
      radius: .8em
      color: #e0e0e0
      width: .1em
    transition: border-width .2s, border-color .3s

    &:focus
      border:
        color: #d2d2d2
        width: .18em
