.cockpit
  &-info
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    width: 100%
    margin-bottom: 1.5em

    &__block
      margin: .4em 1em
      width: 9em
      height: 9em

      &--photo
        width: 12em
        height: 12em
        background:
          size: cover
          position: center

      &--no-photo
        -webkit:
          mask-image: url(../img/icons/user.svg)
          mask-size: contain
          mask-repeat: no-repeat
        background-color: black

      &--normal
        background-color: #ffe7e7
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        &:nth-child(odd)
          @include animation((slide-up, fade-in), 1.5s, 0s)

        &:nth-child(even)
          @include animation((slide-down, fade-in), 1.5s, 0s)

  &-content
    display: grid
    grid:
      column-gap: .5em
      template-columns: repeat(3, 1fr)

    @media(max-width: 950px)
      grid-template-columns: 1fr

  &-class-group
    display: flex
    align-items: center
    padding: .7em 1.2em
    background-color: #f7f7f7
    width: 100%
    margin-bottom: .5em
    text-decoration: none
    color: black
    box-sizing: border-box

    &__heading
      margin: 0 .5em
      font-size: 1.4em
      letter-spacing: .1em
      font-weight: normal

      &--school
        font-size: .85em
        color: gray
        margin: .1em .85em

      &--empty
        font-size: 1.2em
        text-align: center
        color: #676666

      &--time
        font-size: .95em
        letter-spacing: 0
        color: #717171

    &--invitation
      padding: .85em .4em
      justify-content: space-between

  &__buttons
    display: flex
    align-items: center

  &__button
    border: none
    background-color: transparent
    cursor: pointer
    transition: transform .3s

    &:hover
      transform: scale(1.3)

    &--accept
      color: #7bb97b

    &--reject
      color: #e08a8a
