.customize-section
  padding: 1.5em 2.5em

  @media(max-width: 580px)
    padding: .5em 2.5em

  @media(max-width: 350px)
    padding: .5em 1.5em

  &__header
    @media(max-width: 400px)
      text-align: center

.customize-article
  display: grid
  grid-template-columns: 5fr 1.5fr 2.5fr
  align-items: flex-start
  padding-top: 1.5em

  @media(max-width: 800px)
    grid-template-columns: 1fr

  &__form
    opacity: 0
    @include animation((fade-in), .5s, 4s)

    @media(max-width: 800px)
      @include animation((fade-in), .5s, 3s)

  &__card
    box-shadow: .2em .2em .7em #c1bebe
    border-radius: .1em
    padding: 2em 1em

    &--password
      margin-top: 1.6em

.customize-fields
  position: relative
  padding-left: 1.5em
  border-left: .2em solid #F44336

.customize-option
  position: relative
  margin-bottom: 1.5em

  &::before
    position: absolute
    top: 50%
    left: -1.4em
    transform: translateY(-50%)
    font-family: "Material Icons"
    font-size: 1.8em
    background: white
    color: #F44336

  &--roll-up
    max-height: 0em
    opacity: 0
    @include animation((roll-up, fade-in), 1.5s, 0s)

  &--city
    &::before
      content: "\e0c8"

  &--birthday
    &::before
      content: "\e916"

  &--role
    &::before
      content: "\e853"

  &--email
    &::before
      content: "@"
      font-family: Roboto

  &--username
    &::before
      content: "\e87c"

  &--first_name
    &::before
      content: "\e7fd"

  &--last_name
    &::before
      content: "\e7fd"

  &--photo
    margin-bottom: 0

    &::before
      content: '\e251'

  &--old_password
    &::before
      content: '\e32a'

  &--new_password
    &::before
      content: '\e32a'

  &--repeat_new_password
    &::before
      content: '\e5d5'

  &-label
    display: block
    font:
      size: 1em
      weight: bold
    margin: 0
    color: #5f5f5f
    letter-spacing: .05em

  &-wrapper
    overflow: hidden
    max-height: 0
    @include animation(roll-up, 2s)
    padding-bottom: .7em

  &:last-child
    margin-bottom: 0

.pac-item
  font-family: Roboto

.custom-select
  margin: .5em 0 0
  outline: none
  border:
    color: white
    style: solid
    bottom: .1em solid #e4e4e4
  font-size: 1.4em
  font-family: Roboto
  padding-bottom: .2em
  background-color: white

  &--birthday
    &:nth-child(odd)
      margin: .5em .6em 0

    @media(max-width: 300px)
      &:nth-child(odd)
        margin: .5em 0

  &--role
    margin-left: .25em

  &--order
    font-size: 1em
    position: relative
    bottom: .1em

  &--game-class-group
    font:
      size: 1.85em
      weight: 300
    margin: .5em
    letter-spacing: .12em
    transform: translateY(6%)
    color: #3c3c3c
    max-width: 100%

.role-choose-span
  font-size: 1.4em

.photo
  &-wrapper
    width: 100%
    display: flex
    margin-top: .5em

  &-block
    display: flex
    width: -moz-fit-content
    width: -webkit-fit-content
    width: fit-content
    text-align: center
    font-size: 1.2em
    padding: .7em 1em
    background-color: #efefef
    border-radius: .15em
    margin-right: .5em
    cursor: pointer

    &__icon
      margin-right: .25em

  &-delete
    background: transparent
    border: none
    padding: 0
    color: #ef5151
    cursor: pointer

.file-hidden
  display: none

.customize-user-card
  box-shadow: .2em .2em .7em #c1bebe
  border-radius: .5em

  &--user
    min-width: 20%

  &--custom
    opacity: 0
    @include animation((fade-in, rotate-y), 1s, 3s)

    @media(max-width: 800px)
      display: none

  &__photo
    width: 100%
    height: 14em
    background:
      size: cover
      color: #e8e8e8
      position: center

    transition: .3s background-image

  &__info
    padding: 1em

  &__nickname
    margin: 0
    letter-spacing: .04em
    font-size: 1.3em

  &__mark
    color: #d65959

  &__role
    margin: .2em 0
    color: gray
    letter-spacing: .2em
    font-size: 1em
    text-transform: uppercase

  &__list
    border-left: .2em solid #F44336
    padding: 0 0 0 .8em
    margin-left: .5em
    list-style-type: none

  &__list_el
    max-height: 0em
    opacity: 0
    @include animation((roll-up, fade-in), 3s, 0s)

  &__icon
    position: relative
    top: .25em
    margin-right: .15em
