.dashboard
  &-section
    display: flex

    @media(max-width: 900px)
      flex-direction: column-reverse


  &-content
    flex-grow: 1
    padding-right: 5em

    @media(max-width: 900px)
      padding-right: 0

    &__header
      display: flex
      margin-bottom: 1em
      width: 100%

      &_tab
        text-transform: uppercase
        letter-spacing: .2em
        text-align: center
        padding: 1em 0
        border-bottom: 1.5px solid #ffdfdf
        cursor: pointer
        flex-grow: 1

        @media(max-width: 650px)
          font-size: .85em

        &--active
          background-color: #fff1f3

    &__form
      display: flex
      flex-direction: column
      align-items: flex-end

    &__text-area
      border:
        width: .15em
        style: solid
        color: rgb(228, 228, 228)
        radius: .2em
      padding: .5em
      font-family: Roboto
      resize: none
      height: 4em
      outline: none
      width: calc(100% - 1.4em)
      transition: border-color .3s
      font-size: 1em

      &:focus
        border-color: #e68282

    &__load
      width: 100%
      padding: 1em 0
      text-align: center
      background-color: #ffe9ed
      margin-bottom: 1.5em
      cursor: pointer
      font:
        family: Roboto
        size: .9em
      border: none

    &__dot
      &:not(:last-child)
        position: relative
        margin-right: 1.5em
        font-weight: bold
        text-decoration: none

        &:before
          content: ""
          position: absolute
          top: 50%
          right: -1em
          border-radius: 50%
          transform: translateY(-50%)
          width: .5em
          height: .5em
          background: #f7b6b6
          font:
            size: .9em
            family: Roboto

  &-post
    padding-left: 1em
    border-left:
      width: .15em
      style: solid
      color: #c1c1c1
    margin-bottom: 1em

    &--comment
      border-left-color: #f7b6b6

    &__text
      margin: .5em 0

    &__buttons
      display: flex

    &__button
      display: flex
      align-items: center
      color: #a7a7a7
      border: none
      background-color: white
      text-transform: uppercase
      font:
        size: .75em
        weight: bold
      letter-spacing: .05em
      cursor: pointer
      padding: .3em 0
      margin-right: 1.5em
      transition: color .3s

      &:hover
        color: #545454

      &_text
        margin-left: .3em

        @media(max-width: 500px)
          display: none

  &-comments
    padding-left: 5%

  &-info
    &__play
      -webkit-mask:
        image: url(../img/icons/play-button.svg)
        size: contain
        repeat: no-repeat
      width: 2.8em
      height: 2em
      background: black

      &--report
        -webkit-mask-image: url(../img/icons/writing.svg)
        width: 2.5em
        height: 2.5em

    &__link
      color: black
      text-decoration: none

    &__part
      background-color: #fff2f4
      padding: 1em 1.5em
      margin-bottom: 1.2em

      &_heading
        margin: 0
        padding-right: 5em
        text-transform: uppercase
        letter-spacing: .1em

        &--play
          padding-right: 0

      &_content
        margin: 0
        color: #6b6b6b

      &--play
        display: flex
        align-items: center
        background-color: #d8d8d8

    &__detail_button
      margin: .5em 0
      border: none
      font-family: Roboto
      padding: .7em 1em
      font-size: .9em
      display: block
      width: 100%
      border-radius: .3em
      cursor: pointer
      transition: color .2s

      &:hover
        color: #e23c3c

.game-report
  &-block
    display: flex
    border: .01em solid black
    padding: 1em 1.3em
    align-items: center
    justify-content: space-between
    margin: .8em
    cursor: pointer

    &__wrapper
      display: flex
      align-items: center

    &__name
      font:
        size: 1.7em
        weight: lighter
      margin-left: .3em
      text-transform: uppercase
      letter-spacing: .05em

      @media(max-width: 500px)
        font-size: 1.3em

  &-info
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    color: #888888
    padding: 0

    &__el
      margin: .5em
