.home
  &-body
    min-height: 99vh

  &-nav
    position: fixed
    top: 0%
    height: 100%
    width: 25%
    background: #fbfbfb
    box-shadow: .3em .3em .5em rgba(0, 0, 0, 0.25)
    display: flex
    flex-direction: column
    z-index: 1
    transform: translateX(calc(-100% - 0.5em))

    &--visible
      transform: translateX(0%)

    @media(max-width: 860px)
      width: 30%

    @media(max-width: 650px)
      width: 40%

    @media(max-width: 490px)
      width: 100%

    &__heading
      text:
        align: center
        transform: uppercase

    &__main-heading
      font-size: 2.2em

    &__close-heading
      font-weight: normal
      cursor: pointer

    &__pink-circle
      &::before
        left: -20%
        background-color: #f9c6c2

    &__option-wrapper
      display: flex
      flex-wrap: wrap
      justify-content: space-around
      align-content: flex-start
      padding: .6em
      overflow: auto
      flex-grow: 1

.option-block
  margin: .4em 0
  width: 8em
  height: 8em
  border: .1em solid gray
  color: gray
  display: flex
  flex-direction: column-reverse
  align-items: center
  justify-content: center
  text-decoration: none

  &--nav
    &:hover
      .option-block__icon
        background-color: #ec9494

  &__icon
    height: 3em
    width: 3em
    background-color: gray
    margin: .2em 0 0
    -webkit:
      mask-size: contain
      mask-repeat: no-repeat

    &--nav
      transition: background-color .4s

    &--settings
      -webkit-mask-image: url(../img/icons/controls.svg)

    &--home
      -webkit-mask-image: url(../img/icons/house.svg)

    &--play
      -webkit-mask-image: url(../img/icons/play-button.svg)

    &--game
      -webkit-mask-image: url(../img/icons/play-button.svg)

    &--school
      -webkit-mask-image: url(../img/icons/school.svg)

    &--sign-out
      -webkit-mask-image: url(../img/icons/power.svg)

    &--dashboard
      -webkit-mask-image: url(../img/icons/newspaper.svg)

    &--class-group
      height: 2em
      width: 2em
      background-color: black
      -webkit-mask-image: url(../img/icons/newspaper.svg)

    &--cockpit
      height: 4em
      width: 4em
      background-color: black

    &--teacher
      -webkit-mask-image: url(../img/icons/drawing.svg)

    &--student
      -webkit-mask-image: url(../img/icons/backpack.svg)

    &--principal
      -webkit-mask-image: url(../img/icons/mortarboard.svg)

    &--birthday
      -webkit-mask-image: url(../img/icons/calendar.svg)

    &--location
      -webkit-mask-image: url(../img/icons/placeholder.svg)

    &--points
      -webkit-mask-image: url(../img/icons/star.svg)

    &--empty
      -webkit-mask-image: url(../img/icons/user.svg)

  &__heading
    margin: .5em 0
    padding: 0 .2em
    letter-spacing: .1em
    font-weight: normal
    text-transform: uppercase

.main-header
  display: flex
  justify-content: space-between
  align-items: center
  background: linear-gradient(#ff000017 10%, transparent)
  padding: .9em 2em

  @media(max-width: 720px)
    flex-direction: column

  @media(max-width: 500px)
    flex-direction: row
    padding: .9em

  &__part
    display: flex
    align-items: center

    @media(max-width: 720px)
      justify-content: center

    &--search
      @media(max-width: 500px)
        flex-grow: 1
        margin-left: 1em

  &__greeting
    font:
      size: 1.7em
      weight: normal
    letter-spacing: .05em
    text-transform: none
    margin: 0 .1em
    @include animation(fade-in, .4s)

    @media(max-width: 500px)
      display: none

.search-submit
  border: none
  outline: none
  background: none
  position: relative
  top: .3em
  cursor: pointer

  &__icon
    font-size: 1.8em
    position: relative
    top: 2px
    color: gray
