.info-block
  background: radial-gradient(rgb(214, 89, 89), rgba(214, 89, 89, .7))
  position: fixed
  top: 0
  left: 0
  z-index: 3
  height: 100vh
  width: 100%
  color: white
  cursor: pointer
  transition: opacity .4s

  &--success
    background: radial-gradient(rgb(81, 195, 67), rgba(81, 195, 67, .7))

  &--warning
    background: radial-gradient(rgb(224, 194, 43), rgba(224, 194, 43, .7))

  &--error
    background: radial-gradient(rgb(214, 11, 11), rgba(214, 11, 11, .7))

  &--logo
    background: radial-gradient(circle at top left, transparent 0, rgba(214, 89, 89, .9) 20%)

    @media (min-width: 485px) and (max-width: 720px)
      background: radial-gradient(circle at 30% 0, transparent 0, rgba(214, 89, 89, 0.9) 20%)

  &__content
    margin: 10vh 10%

  &__heading
    text-transform: uppercase
    font-size: 2.5em
    text-shadow: .05em .05em .05em rgba(0, 0, 0, .4)
    padding: .35em 0
    margin-bottom: 0

  &__text
    margin-top: 0
    font-size: 1.7em
    text-shadow: .05em .05em .05em rgba(0, 0, 0, .4)

  &__icon
    font-size: 3.5em
    position: absolute
    bottom: 5%
    left: 50%
    transform: translateX(-50%)

    &--blink
      opacity: 1
      @include animation(blink, 4s, 0s, forwards, infinite)
