.search
  &-heading
    text-align: center
    font:
      size: 2.2em
      weight: normal

    &__query
      color: #ea6e6e
      border-bottom: .1em dotted #f55454

  &-content
    display: flex
    flex-wrap: wrap
    padding: 0 .85em

  &-user
    text-decoration: none
    color: #616161
    flex-grow: 1
    border-radius: .2em
    display: flex
    align-items: center
    overflow: hidden
    margin: 0 1em 1.2em 0
    background-color: rgba(245, 245, 245, .4)
    box-shadow: none
    transition: box-shadow .25s, background-color .3s

    &:hover
      box-shadow: 0.15em 0.15em 0.15em #dadada
      background-color: rgba(245, 245, 245, .85)

    &__avatar
      height: 4.5em
      width: 4.5em
      background:
        color: #d0d0d0
        size: cover

    &__wrapper
      padding: 0 1.2em 0 .8em

    &__full_name
      font:
        size: 1.4em
        weight: bold

    &__username
      font-size: 1.05em
      color: #d65959
