.user
  &-messages
    box-shadow: .2em .2em .7em #c1bebe
    border-radius: .5em
    margin-left: 2.5em
    flex-grow: 1
    display: flex
    flex-direction: column
    height: 28em

    @media(max-width: 900px)
      margin-left: 0
      margin-top: 2em

    &--charades
      height: auto
      margin-left: 0

      @media(max-width: 900px)
        margin-left: 0
        margin-top: .5em


    &__box
      flex-grow: 1
      padding: 1.4em 1em
      overflow-y: auto
      max-height: 28em

      &--charades
        max-height: none
        height: 7em

    &__input
      background: #f1f1f1
      height: 100%
      width: 100%
      outline: none
      border: none
      resize: none
      padding: .4em .6em
      font-family: Roboto
      box-sizing: border-box

    &__form
      height: 6em
      position: relative
      overflow: hidden

      &--charades
        height: 3em

    &__button
      border: none
      background: transparent
      position: absolute
      bottom: 15%
      right: 1%
      background: #b5b0b096
      padding: .4em .4em .4em .5em
      border-radius: 50%
      cursor: pointer

  &-message
    display: flex
    color: #636161
    margin-bottom: 2em
    position: relative

    &--charades
      margin-bottom: 1em

    &::before
      position: absolute
      bottom: -1.7em
      left: .5em
      color: gray
      font:
        family: Roboto
        size: .8em
      content: attr(data-date)

    &--current-user
      justify-content: flex-end

      &::before
        left: unset
        right: .5em

    &__content
      padding: .5em 1em
      border: 1.4px solid #a2a2a2
      border-radius: 2em
      max-width: 80%
