{% extends '../base.html' %}
{% load static %}

{% block title %}Home - Esqola{% endblock %}

{% block style %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block body_attrs %}class="home-body"{% endblock %}

{% block content %}
<div id="app"></div>
{% endblock %}

{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places&language=en" async defer></script>
<script src="{% static '/dist/bundle-home.js' %}"></script>
{% endblock %}
