.auth
  &-section
    padding: 1em 5em
    text-align: center

    @media(max-width: 500px)
      padding: 1em 3em

    &__heading
      text-align: center

    &__pink_circle
      &::before
        top: 0%

  &-form
    padding: 0 25%

    @media(max-width: 680px)
      padding: 0 15%

    @media(max-width: 500px)
      padding: 0

  &-link
    letter-spacing: .05em
    color: white
    transition: color .4s

    &:hover
      color: #f7d9d9

  &-message
    width: 100%
    padding: 1em
    text-align: center
    border:
      width: 0.05em
      style: solid
      radius: .1em
    box-sizing: border-box
    font-weight: bold
    letter-spacing: 0.01em
    margin: 1em 0

    &--success
      color: #2eb941
      border-color: #2eb941

    &--error
      color: #ce3e3e
      border-color: #ce3e3e

    &--warning
      color: #cea810
      border-color: #cea810
