.index-header
  padding: .9em

  &--auth
    background: linear-gradient(rgba(245, 119, 119, 0.15), rgba(0, 0, 0, 0))

.index-header, .index-header__logo
  display: flex
  justify-content: center

.logo
  &-owl
    height: 52px
    width: 73px
    margin: 0 .5em
    overflow-x: hidden

    &--cut
      width: 37px

    &--animation
      @include animation((bounce, cut-logo), (1.5s, 1.3s), (0s, 1.8s))

    &--home
      position: relative

    &__image
      height: 52px
      width: 73px
      -webkit-mask:
        image: url("../img/owl.svg")
        size: contain
        repeat: no-repeat
      background: #d65959

      &--avatar
        background:
          blend-mode: luminosity
          size: cover
          position:
            y: center
            x: 200%

      &--color
        position: absolute
        top: 0
        left: 0
        opacity: 0
        transition: .4s
        cursor: pointer

        &:hover
          opacity: 1

  &__title
    font-size: 2.9em
    margin: 0 .1em
    position: relative
    text-transform: uppercase

.devices
  background: #fb9e98
  overflow: hidden
  text-align: center
  padding: 2em

  @media(max-width: 500px)
    padding: 1em

  &__image
    max-width: 8em
    opacity: 0

    @media(max-width: 500px)
      max-width: 5em

    &--down
      @include animation((slide-down, fade-in), 1s, 3s)

    &--up
      @include animation((slide-up, fade-in), 1s, 3s)

  &__heading
    font:
      size: 2.2em
      weight: lighter
    color: white
    text-align: center

    @media(max-width: 500px)
      margin: .5em

.rules
  display: grid
  grid-template:
    columns: repeat(4, 1fr)
    rows: auto
    areas: "head head head head" "rule rule rule rule"
  padding: 3em 2.5em
  text-align: center

  @media(max-width: 735px)
    grid-template:
      columns: repeat(2, 1fr)
      areas: "head head" "rule rule"

  @media(max-width: 500px)
    grid-template:
      columns: 1fr
      areas: "head" "rule"
    padding: 3em 1.5em

  &__header
    margin: 1em auto
    display: inline-block
    background-color: #d65959
    padding: 0.8em 2.2em
    clip-path: polygon(3% 0%, 100% 0%, 97% 100%, 0% 100%)
    text-align: center
    grid-area: head

    &--auth
      transition: clip-path .4s

      &:hover
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)

    &--customize
      opacity: 0
      margin: .5em auto

      @media(min-width: 450px)
        @include animation((slide-up, fade-in, slide-right), (1s, 1s, .5s), (1.5s, 1.5s, 2.7s))

      @media(max-width: 450px)
        @include animation((slide-up, fade-in), 1s, 1.5s)

    &--gray
      background-color: #b7b7b7

      @media(min-width: 450px)
        @include animation((slide-down, fade-in, slide-left), (1s, 1s, .5s), (1.5s, 1.5s, 2.7s))

  &__heading
    margin: 0
    color: white
    font:
      size: 2em
      weight: lighter
      style: italic
    text:
      transform: uppercase
      align: center
      shadow: 0.1em 0.1em coral

    &--gray
      text-shadow: 0.1em 0.1em #867a7a

    &--customize
      @media(max-width: 580px)
        font-size: 1.6em

.rule
  padding: 1em

  &__heading
    text-transform: uppercase
    letter-spacing: .1em

  &__icon
    position: relative
    top: 6px
    font-size: 1.55em

  &__paragraph
    color: #716e6e
    text-align: left

.pink-circle
  position: relative

  &:before
    position: absolute
    left: -40%
    top: 14%
    border-radius: 100%
    background: #fb9e98
    width: 1.1em
    height: 1.1em
    content: ""
    z-index: -1

.game-example
  background: lightcoral
  color: white
  overflow: hidden
  text-align: center
  padding: 2.5em 2.5em 4em
  position: relative
  display: grid
  grid:
    gap: 1.5em
    template:
      columns: repeat(2, 1fr)
      rows: auto
      areas: "group group" "language language"

  @media(max-width: 700px)
    grid-template:
      columns: 1fr
      areas: "group" "language"

  &--normal
    background: white
    color: black

  &__group
    grid-area: group

  &__heading
    text-align: center

    &--primary
      font-size: 2.2em
      margin: 0

    &--game-name
      text-transform: uppercase
      font-style: italic
      letter-spacing: .1em

    &--game-desc
      color: #6d6d6d

    &--secondary
      font:
        size: 1.4em
        weight: lighter
      margin: .5em 0 1.2em

  &__language
    padding: 1.5em .4em
    border-radius: .2em
    border:
      width: .15em
      style: dashed
      color: rgba(255, 255, 255, .5)

    &--normal
      border-color: #bfbfbf

  &__success
    position: absolute
    top: 20%
    left: 50%
    transform: translateX(-50%)
    background: #f1f1f1
    width: 40%
    border-radius: .4em
    text-align: left
    padding: 1em 2.5em
    z-index: 1
    visibility: hidden
    color: black
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, .3)

    @media(max-width: 700px)
      top: 45%
      width: 80%

    &--visible
      @include animation(slide-success, 1s)

    &--icon
      position: relative
      top: .3em
      font-size: 2em
      color: #d65959

    &--score
      margin: 0

    &--info
      font-size: 2.2em
      margin: .5em 0

      &-normal
        margin: .2em 0

    &--hint
      font:
        size: 1.4em
        weight: normal
      margin: 0 0 .5em
      letter-spacing: .02em
      color: #676565

.game-words
  display: flex
  padding: .4em
  flex-wrap: wrap

.game-word
  letter-spacing: .02em
  border:
    width: .09em
    color: white
    style: solid
    radius: .3em
  padding: .6em 1em
  margin: .6em
  cursor: pointer
  text-transform: lowercase
  transition: .1s color, opacity .2s

  &--normal
    border-color: black

  &--marked
    color: #b54040

    &-normal
      color: #f78f8f

  &--correct
    opacity: .5

.index-forms
  padding: 1em 5em
  text-align: center
  display: grid
  grid:
    gap: 1.5em
    template:
      columns: repeat(2, 1fr)
      rows: auto
      areas: "header header" "form form"

  &__label
    font-weight: bold
    color: gray
    letter-spacing: .04em
    display: block
    text-align: left

  @media(max-width: 700px)
    padding: 1em 3em
    grid:
      gap: .5em
      template:
        columns: 1fr
        areas: "header" "form"

  &__wrapper
    text-align: left

  &__header
    grid-area: header

  &__heading
    text-transform: uppercase
    letter-spacing: .2em

  &__button
    color: #a7a7a7
    border-radius: .25em
    border: .15em solid #e4e4e4
    padding: .7em 1.8em
    background-color: white
    margin: 1.2em 0
    text-transform: uppercase
    font-size: .9em
    font-weight: bold
    letter-spacing: .05em
    outline: none
    cursor: pointer
    transition: border-color .4s, color .5s

    &:hover
      color: #d65959
      border-color: #f9b6b6

    &--school
      margin: .5em
      flex-grow: 1

    &--class-group-form
      margin: .15em .3em
      background: transparent

    &--students-table
      margin: .5em

      @media(max-width: 500px)
        width: 100%

    &--add
      &:hover
        color: #1aa044
        border-color: #a7efbd

    &--edit
      &:hover
        color: #227dab
        border-color: #76b6d6

    &--delete
      &:hover
        color: #de1515
        border-color: #f79b9b

    &--game-setup
      font-size: 1.05em

    &--center
      display: block
      margin: 2em auto

    &--post
      margin-left: .5em

.form-field
  width: 100%
  outline: none
  font-size: 1.3em
  border: none
  padding: .3em 0
  font-family: Roboto
  background-color: transparent

  &--class-group-form
    padding: .1em 0

  &--school-city
    font-size: 1.1em

  &--school-name
    font-size: 1.7em

  &--invitation-form
    font-size: 1.1em

  &__wrapper
    margin: .5em 0
    border-bottom: 2px solid #e4e4e4
    width: 70%
    position: relative

    &--full
      width: 100%

    &--index
      margin: .2em 0 1em 0

      @media(max-width: 700px)
        width: 100%

    &--search
      width: 20em

      @media(max-width: 500px)
        width: 100%

    &--no-margin
      margin: 0

    &--class-group-form
      padding: .1em 0
      width: 100%

      @media(max-width: 750px)
        width: 70%

      @media(max-width: 500px)
        width: 100%

    &--invitation-form
      width: auto
      margin-left: .5em

    &:before
      width: 0%
      background: linear-gradient(90deg, lightcoral, #d22121)
      position: absolute
      bottom: -2px
      height: 2px
      content: ""
      transition: width .4s

    &--active
      &:before
        width: 100%
