&-lobby
  &-header
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 100%

    &__info_wrapper
        display: flex

    &__part
      @media(max-width: 700px)
        width: 100%

    &__language
      margin: .6em 0 0
      font-size: 1.8em
      text-transform: uppercase
      letter-spacing: .2em

    &__class_group
      margin: 0
      font-size: 1.3em
      color: #6d6a6a
      transform: translateX(-5%)

    &__game
      &_name
        margin: .6em 0 0
        font:
          size: 1.5em
          style: italic
        text:
          transform: uppercase
          align: right
        letter-spacing: .2em

      &_desc
        text-align: right
        color: #827b7b

  &-content
    text-align: center

  &-players
    display: grid
    grid-template-columns: repeat(3, 1fr)

    @media(max-width: 600px)
      grid-template-columns: repeat(2, 1fr)

    @media(max-width: 450px)
      grid-template-columns: 1fr

    &__player
      font-size: 2em
      padding: .5em

      &_at
        color: #ea4545

  &-loading
    font:
      size: 1.3em
      weight: normal
    letter-spacing: .2em

    &__span
      position: relative

      &:before
        width: 0%
        background: linear-gradient(90deg, lightcoral, #d22121)
        position: absolute
        bottom: -.4em
        @include animation(lobby-waiting, 3s, $count:infinite)
        height: 2px
        content: ""
