&-setup
  &-article
    text-align: center

  &-header
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap

    &__heading
      letter-spacing: .12em
      font:
        size: 1.85em
        weight: 300
      color: #3c3c3c
      text-transform: uppercase
      position: relative
      margin: .2em 0

      &::before
        content: ""
        -webkit:
          mask-image: url(../img/icons/play-button.svg)
          mask-size: contain
          mask-repeat: no-repeat
        background: rgb(249, 182, 182)
        width: 1.5em
        height: 1.5em
        position: absolute
        top: 50%
        left: -2em
        transform: translateY(-50%)

        @media(max-width: 700px)
          visibility: hidden

  &-flags
    display: flex
    align-items: center

    &__arrow
      color: rgb(249, 182, 182)
      cursor: pointer

      @media(max-width: 500px)
        display: none

      &-icon
        font-size: 4em

    &__wrapper
      white-space: nowrap
      overflow: hidden
      flex-grow: 1

  &-flag
    width: 5em
    height: 5em
    position: relative

    &--lobby
      width: 6em
      height: 6em
      -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%)
      clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%)

    &--list
      position: relative
      margin: 1em
      display: inline-block
      cursor: pointer
      transition: transform .6s

      &:after
        content: attr(data-language)
        position: absolute
        bottom: -5%
        font-family: Roboto
        left: 50%
        transform: translateX(-50%)
        color: #737070
        font-size: .7em
        text-transform: uppercase

      &--active
        transform: scale(1.15)

      &:hover
        transform: scale(1.15)

        .game-setup-flag__img
          filter: grayscale(0)

    &__img
      filter: grayscale(1)
      height: 100%
      width: 100%
      background-size: cover
      transition: filter .4s

      &--active
        filter: grayscale(0)

  &-heading
    text-align: center

    &__span
      position: relative

      &:before
        @include slashes()
        content: "/"
        left: -.8em

      &:after
        @include slashes()
        content: "/"
        right: -.8em

  &-type
    cursor: pointer
    position: relative
    overflow: hidden
    margin: 1em
    width: 11em
    height: 11em
    border:
      radius: 50%
      width: .15em
      style: solid

    transition: border-color .3s, color .4s

    &:hover
      .game-setup-type__part
        transform: translateY(-100%)

        &--presentation
          opacity: 0

        &--description
          opacity: 1

    &--match
      border-color: #ff6464
      color: #ff6464

    &--choose
      border-color: #fdb739
      color: #fdb739

    &--charades
      border-color: #0D5EAF
      color: #0D5EAF

    &--enter
      border-color: #2c2c2c
      color: #2c2c2c

    &--active
      border-color: #009246
      color: #009246

    &__wrapper
      display: flex
      justify-content: center
      flex-wrap: wrap

    &__part
      position: absolute
      width: 100%
      height: 100%
      transition: transform .5s, opacity .3s
      text-align: center

      &--presentation
        top: 0
        opacity: 1

      &--description
        top: 100%
        opacity: 0

      &__icon
        font-size: 4em
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

      &__heading
        font-style: italic
        text-transform: uppercase
        margin: 3.2em 0 .2em
        letter-spacing: .08em

      &__description
        font-size: .9em
        padding: 0 .65em
