&-summary
  margin: 1em 20%

  @media(max-width: 700px)
    margin: 1em 5%

  &__score
    display: flex
    justify-content: space-between

    &--heading-wrapper
      padding: .5em 1em

    &--normal
      padding: 1em

      &:nth-child(even)
        background-color: whitesmoke

      &:nth-child(odd)
        background-color: #f1e8e8

  &__heading
    letter-spacing: .05em
    font-weight: bolder
    text-transform: uppercase
