&-teacher
  display: flex
  align-items: center
  flex-direction: column

  &__icon
    background: darkgray
    width: 12em
    height: 12em
    position: relative
    -webkit-mask:
      size: contain
      repeat: no-repeat

    &--teacher
      -webkit-mask-image: url(../img/icons/mortarboard.svg)

    &--play
      -webkit-mask-image: url(../img/icons/play-button.svg)

    &:before
      position: absolute
      top: 0
      width: 40%
      transform: translateX(-100%)
      height: 100%
      background: linear-gradient(90deg, transparent 10%, #f77b7b 40%, transparent 90%)
      content: ""
      @include animation(teacher-load, 4s, $count:infinite)

  &__heading
    font-weight: normal
    color: #484848
    letter-spacing: .02em
