@include keyframes(cut-logo)
  from
    width: 73px
  to
    width: 37px

@include keyframes(bounce)
  0%
    transform: translateY(-100%)
  20%
    transform: translateY(0%)
  40%
    transform: translateY(-30%)
  60%
    transform: translateY(0%)
  80%
    transform: translateY(-10%)
  100%
    transform: translateY(0%)

@include keyframes(slide-up)
  from
    transform: translateY(50%)
  to
    transform: translateY(0%)

@include keyframes(slide-down)
  from
    transform: translateY(-50%)
  to
    transform: translateY(0%)

@include keyframes(fade-in)
  from
    opacity: 0
  to
    opacity: 1

@include keyframes(fade-out)
  from
    opacity: 1
  to
    opacity: 0

@include keyframes(slide-left)
  from
    transform: translateX(0)
  to
    transform: translateX(-.5em)

@include keyframes(slide-right)
  from
    transform: translateX(0)
  to
    transform: translateX(.5em)

@include keyframes(roll-up)
  from
    max-height: 0em
  to
    max-height: 6em

@include keyframes(rotate-y)
  from
    transform: rotateY(-80deg)
  to
    transform: rotateY(0deg)

@include keyframes(slide-success)
  from
    visibility: visible
    transform: translate(-50%, 100%)
    opacity: 0
  to
    visibility: visible
    transform: translate(-50%, 0%)
    opacity: 1

@include keyframes(blink)
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0

@include keyframes(lobby-waiting)
  0%
    left: 0%
    width: 0%
  50%
    left: 0%
    width: 100%
  100%
    width: 0%
    left: 100%

@include keyframes(teacher-load)
  from
    transform: translateX(-100%)
  to
    transform: translateX(250%)

@include keyframes(question)
	0%
    transform: scale(1)
	50%
    transform: scale(1.15)
	100%
    transform: scale(1)

@include keyframes(dot-load)
  0%
    transform: translateY(0em)
  50%
    transform: translateY(-.35em)
  100%
    transform: translateY(0em)
