@font-face
  font-family: "Roboto"
  font-weight: lighter
  font-style: normal
  src: local("Roboto Light"), local("RobotoLight"), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype')

@font-face
  font-family: "Roboto"
  font-weight: lighter
  font-style: italic
  src: local("Roboto Light Italic"), local("RobotoLight-Italic"), url('../fonts/Roboto-LightItalic.woff') format('woff'), url('../fonts/Roboto-LightItalic.ttf') format('truetype')

@font-face
  font-family: "Roboto"
  font-weight: normal
  font-style: normal
  src: local("Roboto Medium"), local("RobotoMedium"), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype')

@font-face
  font-family: "Roboto"
  font-weight: bold
  src: local("Roboto Bold"), local("RobotoBold"), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype')
