@mixin keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

@mixin animation($name, $duration, $delay:0s, $fillmode:forwards, $count:1)
  -webkit-animation-name: $name
  -webkit-animation-duration: $duration
  -webkit-animation-delay: $delay
  -webkit-animation-fill-mode: $fillmode
  -webkit-animation-iteration-count: $count

  -moz-animation-name: $name
  -moz-animation-duration: $duration
  -moz-animation-delay: $delay
  -moz-animation-fill-mode: $fillmode
  -moz-animation-iteration-count: $count

  -ms-animation-name: $name
  -ms-animation-duration: $duration
  -ms-animation-delay: $delay
  -ms-animation-fill-mode: $fillmode
  -ms-animation-iteration-count: $count

  animation-name: $name
  animation-duration: $duration
  animation-delay: $delay
  animation-fill-mode: $fillmode
  animation-iteration-count: $count

@mixin slashes()
	font-size: 1.4em
	position: absolute
	top: -20%
	color: rgb(249, 182, 182)


.no-select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
