.class-group
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  background-color: #f7f4f4
  padding: 1em

  &-detail
    margin: 1em 0

  &--no-padding
    padding: 0
    overflow: hidden

    &:hover .class-group__label--detail
      &:before
        transform: translateX(100%)

  &__order
    display: flex
    flex-direction: row-reverse
    align-items: center
    margin: 2em 0 1em

    @media(max-width: 500px)
      justify-content: center

    &_button
      background: transparent
      border: none
      outline: none
      font-size: 1em
      font-family: "Roboto"
      border-bottom: .1em dashed #eaa6a6
      padding: 0
      line-height: 1.5em
      cursor: pointer
      transform: translateY(.03em)

      @media(max-width: 500px)
        margin-right: .2em

    &_text
      margin: 0 .4em

      @media(max-width: 360px)
        display: none

  &__part
    display: flex
    flex-wrap: wrap
    margin: .3em 0

    &--icons
      align-items: center

    &_field
      display: flex
      align-items: center
      margin-right: 1em

      @media(max-width: 750px)
        width: 100%
        margin: .3em 0
        justify-content: space-between

      @media(max-width: 500px)
        margin: .3em 0
        align-items: baseline
        flex-direction: column

  &__autocomplete
    width: 100%
    padding: .7em .7em
    cursor: pointer
    transition: background-color .2s

    &:hover
      background-color: #f3f3f3

    &--active
      background-color: #f3f3f3

    &_wrapper
      position: absolute
      top: calc(100% + 2px)
      left: 0
      background: white
      border: .1em solid #e7e7e7
      width: 100%
      border-top: none
      box-sizing: border-box
      overflow: auto
      max-height: 6em
      overflow-x: hidden
      z-index: 3

      &--hidden
        display: none

  &__button
    color: #e6aba4
    cursor: pointer
    transition: color .3s
    border: none
    background: none

    &:hover
      color: #ea7769

    &_icon
      font-size: 2em

      @media(max-width: 500px)
        font-size: 1.75em

  &__label
    font-size: 1.4em
    margin: 0 .5em
    color: #5f5f5f

    @media(max-width: 500px)
      margin: 0

    &--detail
      position: relative
      font-size: 1.5em
      letter-spacing: .2em
      margin: 0
      color: black
      padding: .7em 0 .7em .7em
      z-index: 1

      @media(max-width: 500px)
        font-size: 1.25em

      &:before
        width: 100%
        height: 100%
        background: linear-gradient(60deg, #ffd7d7, #f7f4f4)
        position: absolute
        left: -100%
        top: 0
        z-index: -1
        content: ""
        transition: transform .4s

  &-content
    width: 100%
    background: #fbfbfb
    box-sizing: border-box
    display: none

    &--visible
      display: block

  &__checkbox
    display: none

    &_button
      background: transparent
      border: none
      cursor: pointer

  &__table
    border-spacing: .5em 0
    width: 100%

    &-wrapper
      overflow-x: auto

    &__head
      text-align: left
      color: #929090
      letter-spacing: .03em
      text-transform: uppercase

    &__cell
      padding: .5em 0

    &__link
      color: black
      text-decoration: none

    &__buttons
      display: flex
      margin: .5em 0
      flex-wrap: wrap

  &__heading
    letter-spacing: .03em
    text-transform: uppercase
    margin: .6em 1em 1em

    &--underline
      border-bottom: .1em solid #e6aba4

    &--cockpit
      text-align: center
      font-size: 1.6em

    &--search
      font-size: 1.5em

  &__info
    padding: 1em 1.5em

  &__teacher
    padding: .2em 1.5em
    display: flex
    color: black
    text-decoration: none

    &--detail
      padding: .2em

    &__heading
      letter-spacing: .2em

      &--name
        text-transform: uppercase
        color: gray
        font-weight: normal

  &__invitation
    display: flex
    border: .1em solid #e2e2e2
    border-radius: .3em
    padding: .8em 1.2em
    margin:
      right: .5em
      bottom: .5em
    align-items: center
    position: relative

    &--normal
      overflow: hidden

      &:hover
        border-color: #e66359
        background-color: #e66359

        .class-group__invitation_delete
          opacity: 1

    &_delete
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      background-color: #e66359
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center
      color: white
      opacity: 0
      transition: opacity .4s

    &_form
      &_button
        background-color: limegreen
        border: none
        border-radius: 50%
        color: white
        padding: .15em
        width: 3.15em
        height: 3.15em
        cursor: pointer
        transition: color .5s

        &:hover
          color: transparentize(white, .6)

      &_icon
        font-size: 2.5em

    &_full_name
      margin: 0
      font-size: 1.2em

    &_username
      margin: 0
      font-size: 1em
      font-weight: normal
      color: #e85e54

      &--delete
        color: #f5eaea

    &-wrapper
      display: flex
      width: 100%
      padding: .5em 1em
      align-items: center
      flex-wrap: wrap
