.school
  &-article
    padding: 2.5em

    @media(max-width: 500px)
      padding: 1.5em

    &--hidden
      opacity: 0

    &--fade-in
      @include animation(fade-in, .35s)

    &--user
      display: flex

      @media(max-width: 900px)
        flex-direction: column

    &__info
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      margin-bottom: .5em

      @media(max-width: 500px)
        justify-content: center

      &_fields
        display: flex

        &--dashboard
          align-items: center
          margin-bottom: 1em

        @media(max-width: 500px)
          flex-direction: column
          align-items: center

        &__wrapper
          padding: .1em 1.2em

          @media(max-width: 500px)
            padding: 0

    &__button_wrapper
      display: flex
      align-items: center
      flex-wrap: wrap

      &--school
        padding: 1em
        color: black
        text-decoration: none

        @media(max-width: 500px)
          width: 100%
          justify-content: center

  &-logo
    min:
      width: 5em
      height: 5em
    background:
      size: contain
      position: center
      repeat: no-repeat

    @media(max-width: 500px)
      width: 35vw
      height: 35vw

    &--create
      min:
        width: 5.5em
        height: 5.5em
      cursor: pointer

    &--no-image
      position: relative

      &:before
        content: ""
        position: absolute
        background: black
        -webkit-mask:
          size: contain
          repeat: no-repeat
        top: 10%
        left: 11%
        height: 80%
        width: 80%

    &--school
      background-color: #f5b9b2

      &:before
        -webkit-mask-image: url(../img/icons/school.svg)

    &--dashboard
      margin-right: .5em
      min:
        width: 4em
        height: 4em

      &:before
        -webkit-mask-image: url(../img/icons/newspaper.svg)

  &-name
    font-size: 2em
    margin: 0

    @media(max-width: 500px)
      font-size: 1.6em
      margin: .3em 0
      text-align: center

  &-city
    display: flex
    margin: .2em 0
    font-size: 1.3em
    align-items: center

    @media(max-width: 500px)
      font-size: 1em
      justify-content: center

    &__icon
      margin-right: .2em
      font-size: 1em

  &-principal
    &__avatar
      width: 2em
      height: 2em
      border-radius: 50%
      background:
        color: gray
        position: center
        size: cover
      margin-right: .5em

      &--delete
        background-color: #dc3131

      &--color
        width: 1.5em
        height: 1.5em
        margin-right: 0
        margin-bottom: .5em
        box-shadow: 0.1em 0.1em 0.05em #b5b5b5

      &--invitation
        width: 3em
        height: 3em

      &--author
        width: 1.75em
        height: 1.75em

      &--conversation
        margin-right: 0
        margin-left: .5em

      &--flag
        background-color: transparent

    &__text
      color: gray
      margin: .9em 0

      &--school
        text-transform: uppercase

      &--date
        font-weight: normal

  &-help
    margin: 2.5em 0
    box-shadow: .25em .25em .9em #c1bebe

    &-heading
      margin: .25em 0
      text-transform: uppercase
      letter-spacing: .08em
      padding: 1em 1.2em .8em
      line-height: 1.5em

      &__content
        border-bottom: .1em dashed #ecb0ab

    &-tips
      padding: 0 2em 2em
      margin: 0 1em 1em
      list-style-type: decimal
      color: #616161

    &-tip
      margin: .3em 0
      font-size: 1.1em
