{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="languages, e-learning, learning, school, e-school">
    <meta name="description" content="E-learning platform for schools that allows students learning languages by playing interesting games.">
    <meta name="theme-color" content="#db5945">
    <title>{% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/meta/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/meta/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/meta/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/meta/manifest.json' %}">
    <link rel="mask-icon" href="{% static '/meta/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#fcfcfc">
    {% block style %}
    {% endblock %}
    <link rel="stylesheet" href="{% static '/dist/style.css' %}">
  </head>
  <body {% block body_attrs %}{% endblock %}>
    {% block content %}
    {% endblock %}

    {% block script %}
    {% endblock %}
  </body>
</html>
