<header class="index-header index-header--auth">
  <div class="index-header__logo">
    <div class="logo-owl logo-owl--cut">
      <div class="logo-owl__image"></div>
    </div>
    <h1 class="logo__title">Esqola</h1>
  </div>
</header>
