{% extends '../base.html' %}
{% load static %}

{% block title %}Welcome - Esqola{% endblock %}

{% block style %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
<header class="index-header">
  <div class="index-header__logo">
    <div class="logo-owl logo-owl--animation">
      <div class="logo-owl__image"></div>
    </div>
    <h1 class="logo__title">Esqola</h1>
  </div>
</header>
<main>
  <section class="devices">
    <img src="{% static 'img/desk.png' %}" class="devices__image devices__image--down" alt="desk">
    <img src="{% static 'img/phone.png' %}" class="devices__image devices__image--up" alt="phone">
    <img src="{% static 'img/lap.png' %}" class="devices__image devices__image--down" alt="laptop">
    <h2 class="devices__heading">
      Learn <strong>anywhere</strong>, on <strong>anything</strong>.
    </h2>
  </section>
  <section class="rules">
    <header class="rules__header">
      <h2 class="rules__heading">
        So, why should you use <strong>ESQOLA</strong>?
      </h2>
    </header>
    <article class="rule">
      <h3 class="rule__heading">
        <i class="material-icons rule__icon pink-circle">smartphone</i> Accessibility
      </h3>
      <p class="rule__paragraph">
         Desktop, smartphone, laptop, tablet - if you have a browser on your device and access to the internet, that's everything you need to start journey with <strong>Esqola</strong>.
      </p>
    </article>
    <article class="rule">
      <h3 class="rule__heading">
        <i class="material-icons rule__icon pink-circle">speaker_notes</i> Discussion
      </h3>
      <p class="rule__paragraph">
        <i>Tú no entiendes español</i> or english grammar seems a little bit too complicated for you? <i>No problemo</i>, ask friends from your virtual class for help.
          </p>
    </article>
    <article class="rule">
      <h3 class="rule__heading">
        <i class="material-icons rule__icon pink-circle">school</i> Education
      </h3>
      <p class="rule__paragraph">
        Games are designed with purpose of  allowing students to gain as much knowleadge as possible. Also, teachers have tools to check students scores.
          </p>
    </article>
    <article class="rule">
      <h3 class="rule__heading">
        <i class="material-icons rule__icon pink-circle">sentiment_very_satisfied</i> Enjoyment
      </h3>
      <p class="rule__paragraph">
        Learning and having fun. It's our job to provide games and modules that students don't consider as a classwork, but great way of spending time.
      </p>
    </article>
  </section>
  <section class="game-example">
    <div class="game-example__group">
      <h2 class="game-example__heading game-example__heading--primary">
        Let's give it a try, show us what you got!
      </h2>
      <h3 class="game-example__heading game-example__heading--secondary">
        Connect english words with portuguese translation.
      </h3>
    </div>
    <div class="game-example__language">
      <img class="game-setup-flag" src="{% static '/img/brazil-flag.png' %}" alt="brazil">
      <div class="game-words" id="portuguese">
        <div class="game-word no-select">formiga</div>
        <div class="game-word no-select">jogador</div>
        <div class="game-word no-select">pão</div>
        <div class="game-word no-select">irmão</div>
        <div class="game-word no-select">futebol</div>
        <div class="game-word no-select">maçã</div>
        <div class="game-word no-select">amigo</div>
        <div class="game-word no-select">bonita</div>
        <div class="game-word no-select">mulher</div>
      </div>
    </div>
    <div class="game-example__language">
      <img class="game-setup-flag" src="{% static '/img/united-kingdom-flag.png' %}" alt="united kingdom">
      <div class="game-words" id="english">
        <div class="game-word no-select">bread</div>
        <div class="game-word no-select">player</div>
        <div class="game-word no-select">beautiful</div>
        <div class="game-word no-select">football</div>
        <div class="game-word no-select">friend</div>
        <div class="game-word no-select">apple</div>
        <div class="game-word no-select">ant</div>
        <div class="game-word no-select">woman</div>
        <div class="game-word no-select">brother</div>
      </div>
    </div>
    <article class="game-example__success">
      <h3 class="game-example__success--score">
        <i class="material-icons game-example__success--icon">timer</i> | <span id="score"></span>
      </h3>
      <h4 class="game-example__success--info">Good job, keep it up!</h4>
    </article>
  </section>
  <section class="index-forms">
    <header class="rules__header index-forms__header">
      <h2 class="rules__heading">
        What would you like to do <strong>now</strong>?
      </h2>
    </header>
    <article class="index-forms__wrapper">
      <h2 class="index-forms__heading">Log in</h2>
      <form action="{% url 'authorization:login' %}" method="POST">
        {% csrf_token %}
        {% for field in login_form %}
        <label class="index-forms__label">{{ field.label }}</label>
        <div class="form-field__wrapper form-field__wrapper--index">
          {{ field }}
        </div>
        {% endfor %}
        <button class="index-forms__button">Send</button>
      </form>
    </article>
    <article class="index-forms__wrapper">
      <h2 class="index-forms__heading">Sign up</h2>
      <form action="{% url 'authorization:register' %}" method="POST">
        {% csrf_token %}
        {% for field in register_form %}
        {% include './partials/index_form.html' %}
        {% endfor %}
        <button class="index-forms__button">Send</button>
      </form>
    </article>
  </section>
</main>
{% endblock %}

{% block script %}
<script src="{% static '/dist/bundle-auth.js' %}"></script>
{% endblock %}
