{% extends '../base.html' %}
{% load static %}

{% block title %}Login - Esqola{% endblock %}

{% block content %}
{% include "./partials/header.html" %}
<main>
  <section class="auth-section">
    <h2 class="index-forms__heading auth-section__heading">
      <span class="pink-circle auth-section__pink_circle">Sign in</span>
    </h2>
    <form action="{% url 'authorization:login' %}" method="POST" class="auth-form">
      {% csrf_token %}
      {% for msg in messages %}
        <div class="auth-message {% if msg.tags %}auth-message--{{ msg.tags }}{% endif %}">
          {{ msg }}
        </div>
      {% endfor %}

      {% for field in form %}
      {% include './partials/auth_form.html' %}
      {% endfor %}
      <button class="index-forms__button">Send</button>
    </form>
    <a href="{% url 'authorization:register' %}" class="auth-link">
      <div class="rules__header rules__header--auth">
        Do you want to create an account? Click here.
      </div>
    </a>
  </section>
</main>
{% endblock %}

{% block script %}
<script src="{% static '/dist/bundle-auth.js' %}"></script>
{% endblock %}
