{% extends '../base.html' %}
{% load static %}

{% block title %}Register - Esqola{% endblock %}

{% block content %}
{% include "./partials/header.html" %}
<main>
  <section class="auth-section">
    <h2 class="index-forms__heading auth-section__heading">
      <span class="pink-circle auth-section__pink_circle">Sign up</span>
    </h2>
    <form action="{% url 'authorization:register' %}" method="POST" class="auth-form">
      {% csrf_token %}

      {% for field in form %}
        {% for error in field.errors %}
          <div class="auth-message auth-message--error">
            {{ error }}
          </div>
        {% endfor %}
        {% include './partials/auth_form.html' %}
      {% endfor %}
      <button class="index-forms__button">Send</button>
    </form>
    <a href="{% url 'authorization:login' %}" class="auth-link">
      <div class="rules__header rules__header--auth">
        Do you already have an account? Log in here.
      </div>
    </a>
  </section>
</main>
{% endblock %}

{% block script %}
<script src="{% static '/dist/bundle-auth.js' %}"></script>
{% endblock %}
